* {
  margin: 0;
  padding: 0;
}
body {
  background: #ccc;
}
table {
  position: absolute;
  top: 0;
  left: 0;
}
td {
  width: 48px;
  height: 48px;
}
#map {
  width: 500px;
  height: 500px;
  background: pink;
}
#map div {
  width: 50px;
  height: 50px;
  position: absolute;
}
